<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Producto: {{producto.nombre}}</h3>
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">


                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarProducto(f)">

                        <div class="form-group">
                            <label>Nombre del Producto</label>
                            <input [(ngModel)]="producto.nombre" required="true" name="nombre" type="text" class="form-control" placeholder="Nombre del producto">
                        </div>
                        <div class="form-group">
                            <label>Precio Unitario</label>
                            <input [(ngModel)]="producto.precioUni" required="true" name="precioUni" type="text" class="form-control" placeholder="Precio del producto">
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea [(ngModel)]="producto.descripcion" row="5" required="true" name="descripcion" type="text" class="form-control" placeholder="Descripción del producto"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Imagen URL</label>
                            <textarea [(ngModel)]="producto.img" row="5" required="true" name="img" type="text" class="form-control" placeholder="Dirección URL de la imagen"></textarea>
                        </div>

                        <div class="form-group">

                            <label>Categoría</label>

                            <select (change)="cambioCategoria($event.target.value)" [(ngModel)]="producto.categoria" required="true" name="categoria" class="form-control">
                              <option value="">Seleccione un categoría</option>
                              <option *ngFor="let categoria of categorias" [disabled]="!categoria.estado" [value]="categoria._id">
                                {{categoria.descripcion}}
                              </option>
                            </select>

                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i> Guardar
                        </button>
                        <a routerLink="/productos" type="submit" class="btn btn-inverse waves-effect waves-light">Atras</a>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3" *ngIf="producto._id">
        <div class="card card-body">
            <h4> Fotografía </h4>
            <img (click)="cambiarFoto()" [src]="producto.img | imagen:'producto'" class="rounded img-fluid pointer">
        </div>
    </div>
</div>