<div class="row animated fadeIn">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarProducto(input.value)" type="text" class="form-control" placeholder="Buscar producto...">
            </div>
        </div>

        <div class="row" animated fadeIn *ngIf="cargando">
            <div class="col-sm-12">
                <div class="aler alert-warning text-center">
                    <strong>Cargando</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>
                </div>
            </div>
        </div>

        <div class="row" animated fadeIn *ngIf="!cargando">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="text-right">
                            <button [routerLink]="['/producto','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i> Crear Producto
                        </button>
                        </div>

                        <h3 class="card-title"> Productos Registrados (<small>{{_productoService.totalProductos}}</small>)</h3>

                        <div class="form-group">

                            <label>Mostar Productos por categoría</label>

                            <select (change)="cargarProductosPorCategoria($event.target.value)" [(ngModel)]="idcategoria" name="categoria" class="form-control">
                              <option value="">Todas las categorías</option>
                              <option *ngFor="let categoria of categorias" [disabled]="!categoria.estado" [value]="categoria._id">
                                {{categoria.descripcion}}
                              </option>
                            </select>

                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover color-table inverse-table">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th>Disponible</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let producto of productos">
                                    <tr>
                                        <td><img [src]="producto.img | imagen:'producto'" class="img-50"></td>
                                        <td>{{producto.nombre}}</td>
                                        <td>{{producto.categoria.descripcion}}</td>
                                        <td><label class="label label-light-primary">{{producto.disponible}}</label></td>
                                        <td>
                                            <button [routerLink]="['/producto', producto._id]" *ngIf="producto.disponible" class="btn btn-primary" title="Modificar Producto"><i class="fa fa-edit"></i></button>
                                            <button (click)="borrarProducto(producto)" *ngIf="producto.disponible" class="btn btn-danger" title="Desactivar Producto"><i class="fa fa-trash-o"></i></button>
                                            <button (click)="activarProducto(producto)" *ngIf="!producto.disponible" class="btn btn-success" title="Activar Producto"><i class="fa fa-check-square"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div *ngIf="habiltarBoton">
                            <button (click)="cambiarDesde(-5)" class="btn btn-secondary"> Anteriores</button>
                            <button (click)="cambiarDesde(5)" class="btn btn-secondary"> Siguientes</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>