<div class="row animated fadeIn">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarProducto(input.value)" type="text" class="form-control" placeholder="Buscar producto...">
            </div>
        </div>

        <div class="row" animated fadeIn *ngIf="cargando">
            <div class="col-sm-12">
                <div class="aler alert-warning text-center">
                    <strong>Cargando</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>
                </div>
            </div>
        </div>

        <div class="row" animated fadeIn *ngIf="!cargando">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="text-right">
                            <button [routerLink]="['/producto','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                          <i class="fa fa-plus"></i> Crear Producto
                        </button>
                        </div>

                        <h3 class="card-title"> Productos Registrados (<small>{{_productoService.totalProductos}}</small>)</h3>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Categoria</th>
                                    <th>Disponible</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let producto of productos">
                                <tr>
                                    <td><img [src]="producto.img | imagen:'producto'" class="img-50 img-circleS"></td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.categoria.descripcion}}</td>
                                    <td><label class="label label-light-primary">{{producto.disponible}}</label></td>
                                    <td>
                                        <button [routerLink]="['/producto', producto._id]" [disabled]="!producto.disponible" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                        <button (click)="borrarProducto(producto)" [disabled]="!producto.disponible" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        <button (click)="activarProducto(producto)" [disabled]="producto.disponible" class="btn btn-success"><i class="fa fa-check-square"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>